@media (min-width: 768px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .header {
        margin-bottom: 80px;
    }

    .header-top__mobile {
        display: none;
    }

    .header__title {
        transform: translateY(-60px);
    }

    //header-desktop//

    .header__content-publications {
        padding-bottom: 60px;
    }

    .header-top__desktop {
        padding-top: 50px;
        display: block;
        width: 100%;
    }
    
    .header-desktop__wrapper {
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
    }
    
    .header-top__stay-in-touch {
        display: flex;
        align-items: center;
    }
    
    .header-top__lang {
        position: relative;
        display: inline-block;
        margin-right: 18px;
    }
    
    .header-top__lang::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #BDBDBD ;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
    }
    
    .header-location__street {
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        margin-right: 18px;
        position: relative;
    }
    
    .header-location__street::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #BDBDBD ;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
    }
    
    .tel--white {
        position: relative;
        margin-right: 18px;
    }
    
    .tel--white::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #BDBDBD ;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
    }
    
    .logo__desktop {
        margin: 30px 0;
        display: flex;
    }
    
    .header__navigation {
        display: flex;
    }

    .desktop__content {
        align-items: center;
    }

    .desktop--span {
        align-items: flex-start;
        width: 21px;
        height: 47px;
        font-size: 47px;
        line-height: 33px;
        margin-left: 10px;
    }

    .desktop--breadcrumb {
        align-self: center;
        @include textSize (36px, 44px);
        margin-top: -15px;
    }

    .breadcrumb--violet {
        color: $whiteBackTextColor;
    }

    .fb-logo--hover:hover path {
        fill: $hoverLink;
    }
    
    .nav__link {
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-right: 15px;
        border-bottom: 2px solid transparent;
        padding-bottom: 3px;
    }
    
    .nav__link:last-child {
        margin-right: 0;
    }

    .nav__link--blue {
        color: $linkColor;
    }

    .header__navigation .nav__link--blue:hover {
        border-color: $linkColor;
    }

    .nav__link:hover {
        border-color: #fff;
    }

    .active__link--red {
        color: $hoverLink;
        border-color: $hoverLink;
    }


    //end//

    .navigation-block {
        padding-left: 60px;
        padding-right: 60px;
    }

    .header-top__content {
        padding: 15px 60px;
    }

    .nav-link {
        @include h2Font (38px, 46px);
        padding: 60px 0;
    }

    .ideas-about-block {
        padding-top: 60px;
        margin-left: 60px;
        margin-right: 60px
    }

    .ideas-about-title {
        @include h2Font (30px, 37px);
    }

    .opportunities {
        padding-top: 60px;
    }

    .services {
        margin-bottom: 60px;
    }

    .services-area__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .services-area__about {
        margin: 30px 0;
        width: calc(48% - 30px);
    }

    .benefit-list-link__servises {
        @include h2Font (38px, 46px);
    }

    .about {
        font-size: 38px;
        line-height: 46px;
    }

    .benefits-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefit-list {
        width: calc(50% - 30px)
    }

    .team-member-quote {
        @include h2Font (38px, 46px);
    }

    .already-trust-link {
        width: 33.33%;
        height: 120px;
    }

    .already-trust-links {
        display: flex;
        flex-wrap: wrap;
    }

    .already-trust-links a:nth-child(n+7) {
        display: flex;
    }

    .invis-img {
        display: flex;
    }

    .vis-img {
        display: none;
    }

    .news-about-title {
        @include h2Font (38px, 46px);
    }

    .news-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .news-block-entry-title {
        @include h2Font (30px, 37px);
    }

    .news-entry__content-title  {
        @include h2Font (38px, 46px);
    }

    .listing__title {
        @include h2Font (22px, 27px);
    }

    .news-bottom__title {
        @include h2Font (22px, 27px);
    }

    .news-block-article  {
        width: calc(50% - 15px);

        &:last-child {
            margin-bottom: 30px;
        }
    }

    .main__news-block-img {
        height: 500px;
    }

    .news-block-article-millennial {
        width: 100%;
    }

    .news__banner-img {
        height: 398px;
        width: 640px;
    }

    .millennial--width {
        width: calc(50% - 15px);
    }

    .contact-us {
        align-items: flex-start;
        position: relative;
    }

    .location {
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: baseline;
    }

    .location__street {
        position: relative;
        margin-right: 26px;
    }

    .location__street::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #BDBDBD ;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -16px;
        transform: translateY(-50%);
    }

    .social-media {
        position: relative;
        margin-right: 26px;
    }

    .social-media::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #BDBDBD ;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -16px;
        transform: translateY(-50%);
    }

    .tel--black {
        margin-right: 26px;
        position: relative;
    }

    .tel--black::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #BDBDBD ;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -16px;
        transform: translateY(-50%);
    }

    .contact-info {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .contact__email {
        margin-bottom: 10px;
    }

    .property {
        position: absolute;
        top: 30px;
        right: 0;
    }

    .team-entry__block {
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    .team-member__about {
        grid-column-start: 3;
        grid-column-end: 1;
        margin-bottom: 60px;
    }

    .team-member-photo__etnry {
        width: 100%;
    }

    .team-member__entry-content {
        align-self: center;
        margin: 0 0 0 30px;
    }

    .members {
        padding-top: 0;
    }

    .member-listing__item {
        width: calc(50% - 30px);
        margin-bottom: 0;
    }

    .member-listing__photo {
        height: 400px;
    }

    .member-listing__title{
        margin-bottom: 60px;
    }

    .member-listing {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .member-listing__name .arrow--rotate {
        transform: rotate(0);
    }

    .hide--element {
        display: none;
    }

    .about-company {
        margin-top: 0;
    }

    .about__history {
        margin-top: 60px;
    }

    .achievements__numbers {
        margin-bottom: 60px;
    }

    .team__pic {
        height: 234px;
    }

    .team__pic-title {
        @include h2Font (46px, 56px);
        letter-spacing: 63px;
    }

    .awards__items-container {
        flex-direction: row;
        column-gap: 40px;
    }

    .awards-item {
        width: 25%;

        &:nth-child(n+2) {
            display: flex;
        }
    }

    .legal500 {
        width: 53px;
    }
    
    .legal {
        width: 106px;
    }

    .market-leaders {
        width: 130px;
    }

    .ulf {
        width: 110px;
    }

    .awards__items-container {
        padding-left: 0;
        padding-right: 0;
    }

    .team-member-button:nth-child(n+4) {
        display: none;
    }
}

@media (max-width: 1023px) {
    .ideas-about-block {
        border-top: 4px solid rgba(255, 255, 255, 0.3);
    }
}

@media (min-width: 1024px) {
    .header__content {
        background-size: contain;
    }

    .header-top__desktop {
        display: grid;
        grid-template-columns: 140px 1fr 500px;
    }

    .header__title {
        transform: translateY(-10px);
    }

    .logo__desktop {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

    .header__navigation {
        grid-row: 2;
        grid-column: 3;
        justify-content: flex-end;
        margin-top: -20px;
    }

    .header-top__stay-in-touch {
        grid-column: 3;
        grid-row: 1;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .header__social-media {
        margin-top: -3px;
    }

    .ideas-block-wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .about-ideas-section {
        display: flex;
        padding-top: 60px;
    }

    .ideas-block {
        display: flex;
    }

    .desktop__content {
        width: 324px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 60px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        overflow-x: hidden;
    }

    .nav-link {
        margin-right: 0;
        padding: 0;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ideas-about-block {
        width: 51.27%;
        padding-top: 0;
        padding-left: 60px;
        margin-left: 0;
        margin-right: 0;
    }

    .benefits-list {
        gap: 60px;
    }

    .benefit-list {
        width: calc(33.33% - 40px);
        margin-bottom: 0;
    }

    .team-member {
        display: flex;
    }

    .team-member-content {
        flex-shrink: 2;
    }

    .team-member-photo {
        height: auto;
        width: 75%;
    }

    .already-trust-link {
        width: 25%;
    }

    .news-block-article  {
        width: calc(33.33% - 20px);
    }

    .contact__information {
        display: flex;
        justify-content: space-between;
    }

    .contact__info-to-connect {
        width: calc(50% - 30px);
    }

    .contact-to-us {
        width: 48%;
    }

    .team-entry__block {
        grid-template-columns: 300px 60px 1fr;
        grid-template-rows: 140px;
        grid-template-areas: 
        "photo . name "
        ". . about";
    }

    .team-member-photo__etnry {
        grid-area: photo;
    }

    .team-member__entry-content {
        grid-area: name;
        margin: 0;
    }

    .team-member__about {
        grid-area: about;
    }

    .member-listing__item {
        width: calc(33.33% - 40px);
    }

    .achievements {
        display: flex;
        margin-bottom: 60px;
    }

    .achievements__about {
        width: 54%;
        margin-right: 30px;
        margin-bottom: 0;
    }

    .achievements__numbers {
        margin-bottom: 148px;
        width: 354px;
    }

    .team__pic {
        height: 311px;
    }

    .team__pic-title {
        @include h2Font (86px, 105px);
    }

    .about__history {
        display: flex;
    }

    .abiut__history-block-text {
        width: 52%;
        margin-right: 60px;
    }

    .about__history-title {
        width: 362px;
        margin-top: 0;
    }

    .legal500 {
        width: 80px;
    }
    
    .legal {
        width: 159px;
    }

    .market-leaders {
        width: 195px;
    }

    .ulf {
        width: 166px;
    }

    .awards__img {
        height: 60px;
    }

    .awards-item {
        height: 110px;
    }
}

@media (min-width: 1440px) {
    .services__wrapper {
        padding-left: 180px;
        padding-right: 180px;
    }

    .ideas-block-wrapper {
        padding-right: 180px;
        padding-left: 180px;
    }

    .ideas-about-block {
        width: 57%;
        align-self: center;
    }

    .team-member-content {
        flex-shrink: 1;
    }

    .team-member-photo {
        width: 100%;
    }

    .invis-img {
        display: none;
    }

    .vis-img {
        display: flex;
    }

    .contact-to-us {
        max-width: 650px;
    }

    .popup {
        max-width: 650px;
    }

    .main-popup-legend {
        @include h2Font (38px, 46px);
        padding-right: 73px;
    }

    .contact-popup__ledend {
        @include h2Font (30px, 37px);
        padding-right: 0;
    }

    .employee__info {
        display: flex;
        align-items: center;
        gap: 26px;
    }

    .team-member-photo__etnry {
        height: 500px;
    }

    .team-member-social {
        margin: 0;
    }

    .team-member__position {
        position: relative;

        &::after {
            content: "";
            width: 6px;
            height: 6px;
            background-color: #BDBDBD ;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
        }
    }

    .team-member-social {
        position: relative;

        &:not(:last-child)::after {
            content: "";
            width: 6px;
            height: 6px;
            background-color: #BDBDBD ;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
        }
    }

    .team-entry__block {
        grid-template-columns: 400px 60px 1fr;
        grid-template-rows: 80px;
    }

    .achievements__about {
        width: 62%;
    }

    .achievements__numbers {
        margin-bottom: 60px;
    }

    .team__pic {
        height: 438px;
    }

    .team__pic-title {
        @include h2Font (96px, 117px);
    }

    .abiut__history-block-text {
        width: 61%;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding-left: 160px;
        padding-right: 160px;
    }

    .services__wrapper {
        padding-left: 280px;
        padding-right: 280px;
    }

    .header-desktop__wrapper {
        @include wrapper;
        padding-left: 160px;
        padding-right: 160px;
    }

    .header-top__desktop {
        grid-template-columns: 140px 992px 500px;
    }

    .navigation-block {
        padding-left: 160px;
        padding-right: 160px;
    }

    .header-top__content {
        padding: 15px 160px;
    }

    .ideas-block-wrapper {
        padding-right: 280px;
        padding-left: 280px;
    }

    .already-trust-block {
        padding-bottom: 60px;
    }

    .nav {
        overflow: unset;
    }

    .ideas-about-block {
        width: 70%;
    }

    .team-member-photo {
        width: 60%;
    }

    .already-trust-links-block {
        border-radius: 12px;
        overflow: hidden;
    }

    .already-trust-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .already-trust-wrapper {
        max-width: 1720px;
        margin-right: auto;
        margin-left: auto;
    }

    .about__history {
        justify-content: space-between;
    }

    .achievements {
        justify-content: space-between;
    }

    .achievements__about {
        width: 69%;
    }

    .achievements__numbers {
        margin-bottom: 0;
    }

    .team__pic {
        height: 584px;
    }  

    .abiut__history-block-text {
        width: 65%;
    }
}