@media (min-width: 768px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .opportunities {
        padding-top: 60px;
    }

    .services {
        margin-bottom: 60px;
    }

    .about {
        font-size: 38px;
        line-height: 46px;
    }

    .benefits-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefit-list {
        width: calc(50% - 30px)
    }

    .team-member-quote {
        @include h2Font (38px, 46px);
    }

    .already-trust-link {
        width: 33.33%;
        height: 120px;
    }

    .already-trust-links {
        display: flex;
        flex-wrap: wrap;
    }

    .already-trust-links a:nth-child(n+7) {
        display: flex;
    }

    .invis-img {
        display: flex;
    }

    .vis-img {
        display: none;
    }

    .news-about-title {
        @include h2Font (38px, 46px)
    }

    .news-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .news-block-article  {
        width: calc(50% - 15px);
    }

    .news-block-article-millennial {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .benefits-list {
        gap: 60px;
    }

    .benefit-list {
        width: calc(33.33% - 40px);
        margin-bottom: 0;
    }

    .team-member {
        display: flex;
    }

    .team-member-content {
        flex-shrink: 2;
    }

    .team-member-photo {
        height: auto;
        width: 75%;
    }

    .already-trust-link {
        width: 25%;
    }

    .news-block-article  {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 1440px) {
    .team-member-content {
        flex-shrink: 1;
    }

    .team-member-photo {
        width: 100%;
    }

    .invis-img {
        display: none;
    }

    .vis-img {
        display: flex;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding-left: 160px;
        padding-right: 160px;
    }

    .team-member-photo {
        width: 60%;
    }

    .already-trust-link {
        width: 430px;
    }

    .already-trust-links-block {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .already-trust-links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }

    .trust-link-hillel {
        border-top-left-radius: 12px;
        overflow: hidden;
    }

    .trust-link-3dlook {
        border-top-right-radius: 12px;
        overflow: hidden;
    }

    .trust-link-infratek {
        border-bottom-left-radius: 12px;
        overflow: hidden;
    }

    .trust-link-ultimate {
        border-bottom-right-radius: 12px;
        overflow: hidden;
    }
}