@media (min-width: 768px) {
    .wrapper {
        width: 648px;
    }

    .opportunities {
        padding-top: 60px;
    }

    .services {
        margin-bottom: 60px;
    }

    .about {
        font-size: 38px;
        line-height: 46px;
    }

    .benefits-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefit-list {
        width: 294px;
    }

    .already-trust-link {
        width: 256px;
        height: 120px;
    }

    .already-trust-links {
        display: flex;
        flex-wrap: wrap;
        width: 768px;
    }

    .invisible {
        display: flex;
    }

    .invis-img {
        display: flex;
    }

    .vis-img {
        display: none;
    }

    .shadow-layer1 {
        width: 728px;
    }

    .shadow-layer2 {
        width: 688px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 904px;
    }

    .benefit-list {
        width: 261px;
        margin-bottom: 60px;
    }

    .already-trust-links {
        width: 1024px;
    }

    .shadow-layer1 {
        width: 984px;
    }

    .shadow-layer2 {
        width: 944px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 1320px;
    }

    .benefit-list {
        width: 400px;
    }

    .already-trust-link {
        width: 360px;
    }

    .already-trust-links {
        width: 1440px;
    }

    .shadow-layer1 {
        width: 1400px;
    }

    .shadow-layer2 {
        width: 1360px;
    }

    .invis-img {
        display: none;
    }

    .vis-img {
        display: flex;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
    }

    .benefit-list {
        width: 493px;
    }

    .already-trust-link {
        width: 430px;
    }

    .already-trust-links {
        margin: 0 100px;
        width: 1920px;
    }

    .shadow-layer1 {
        width: 1880px;
    }

    .shadow-layer2 {
        width: 1840px;
    }
}