* {
    box-sizing: border-box;
  }

  .wrapper {
    // min-height: 100%;
    // display: flex;
    // flex-direction: column;
  }

  html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
  }

  .main__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  p,h1,h2,h3,h4,ul,li{
    margin: 0;
    padding: 0;
  }

  .main {
    flex: 1 1 auto;
  }
  
  .hide {
    display: none;
  }

  ul li {
    list-style: none;
  }
