.DS_Store

$sizes: ('tabletSD': 768px, 'tabletHD': 1024px, 'desktopSD': 1440px, 'desktopHD': 1920px );

@mixin media($min, $media) {
    @each $size, $path in $sizes {
        if $media == $size {
            @media (#{$min}-width:$path){
                
            }
        }
    }
}

@each $name in $partnerName {
    .trust-link-#{$name} {
        @each $color in $partnerColor {
            background-color: #{$color}
        }
    }
}